@use '../../assets/styles/colors.scss' as *;

.about {
  &__hire {
    color: $color__red;
    text-decoration: underline;

    &:hover {
      color: $color__black_85;
    }

    &::selection {
      color: $color__black_85;
    }
    &::-moz-selection {
      color: $color__black_85;
    }
  }

  &__skills {
    &_button {
      background: $color__grey_35;
      border: none;
      outline: none;
      cursor: pointer;
      color: $color__red;

      &:hover {
        color: $color__black_85;
      }
    }

    &_content {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      flex-wrap: wrap;

      padding: 0;

      & > li {
        list-style-type: none;
      }
    }
  }
}

.raif {
  background-color: black;
  color: #fee600;
}
