@use '../../assets/styles/colors.scss' as *;

.contacts {
  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__links > a {
    width: fit-content;

    text-decoration: underline;

    &:hover {
      color: $color__red;
    }
  }
}
