@import '../../assets/styles/breakpoints.scss';

.photos {
  &__components {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.5rem;

    @include for-desktop {
      flex-direction: column-reverse;
      gap: 1.5rem;
    }
  }
}
