@use '../../assets/styles/colors.scss' as *;

.page {
  padding: 0 50px;

  &__layout {
    display: flex;
    gap: 200px;

    &_nav {
    }

    &_photo {
      width: 30%;
      max-width: 350px;
      &_img {
        width: 100%;
        min-width: 200px;
      }
    }

    &_content {
    }
  }
}
