@use '../../assets/styles/colors.scss' as *;

.page {
  padding: 0 50px;

  & h3 {
    color: $color__black_85;
  }
  & p {
    color: $color__black_85;
  }

  &__layout {
    display: flex;
    gap: 200px;

    &_nav {
      display: flex;
      flex-direction: column;
      gap: 6rem;
    }
  }

  &__photo {
    max-height: 600px;
  }
}
