@use '../../assets/styles/colors.scss' as *;

.page {
  padding: 0 50px;

  &__layout {
    display: flex;
    gap: 150px;

    &_nav {
    }

    &_photo {
      max-width: 350px;
      min-width: 300px;

      &_img {
        width: 100%;
      }
    }

    &_outlet {
      width: 70%;

      &_content {
        padding-left: 1rem;
      }
    }
  }
}
