@use '../../assets/styles/colors.scss' as *;

.nav {
  &__links {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
  }

  &__links > a:global.active {
    color: $color__black_95;
  }
}
