@use '../../assets/styles/colors.scss' as *;
@import '../../assets/styles/breakpoints.scss';

.nav {
  &__links {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    @include for-tablet-portrait-up {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__links > a:global.active {
    color: $color__black_85;
  }
}
