@use './assets/styles/colors.scss' as *;

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 20px;

  & h3 {
    color: $color__black_85;
  }
  & p {
    color: $color__black_85;
  }
  & a {
    color: $color__black_75;
    text-decoration: none;
  }

  & *::selection {
    color: $color__red;
  }
  & *::-moz-selection {
    color: $color__red;
  }
}
