$color__black_95: rgba(0, 0, 0, 0.95);
$color__black_85: rgba(0, 0, 0, 0.85);
$color__black_75: rgba(0, 0, 0, 0.75);
$color__black_50: rgba(0, 0, 0, 0.5);

$color__grey_35: rgba(220, 220, 220, 0.35);

$color__red: #ff4855;
