@use '../../assets/styles/colors.scss' as *;

.notfound {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    margin: 0;
    margin-bottom: 1rem;
  }

  &__img {
    filter: grayscale(100%);
    max-width: 500px;
  }

  &__text {
    color: $color__red;

    &::selection {
      color: $color__black_85;
    }

    &::-moz-selection {
      color: $color__black_85;
    }
  }

  &__button {
    text-decoration: underline;

    &:hover {
      color: $color__red;
    }
  }
}
